.carouselDotsContainer {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.carouselDot {
  height: 6px;
  width: 6px;
  margin: 0 5px;
  background-color: #e0e0e0;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  .carouselDotsContainer {
    margin-top: 2em;
  }
}

.carouselDot.active {
  background-color: #737373;
}

.carouselNext,
.carouselPrevious {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.carouselNext {
  right: -50px;
}

.carouselPrevious {
  left: -50px;
}

.photoCarouselImg {
  object-fit: cover;
  border-radius: 7px;
  width: 100%;
}

@media (max-width: 768px) {
  .carouselContainer {
    margin: -0.8em;
    overflow: hidden;
  }
  .photoCarouselImg {
    height: 320px;
  }
}

@media (min-width: 768px) {
  .carouselContainer {
    max-width: 950px;
    margin: 0 auto;
  }}