.photoCarouselImg {
  object-fit: cover;
  border-radius: 7px;
  width: 100%;
}

@media (max-width: 768px) {
  .carouselContainer {
    margin: -1em;
  }
  .photoCarouselImg {
    height: 350px;
  }
}

@media (min-width: 768px) {
  .carouselContainer {
    max-width: 80%;
    max-height: 600px;
    margin: 0 auto;
  }
}
