.featureCards {
  display: flex;

  flex-direction: row;
  align-items: top;
  justify-content: center;
}

@media (max-width: 768px) {
  .featureCards {
    gap: 3em;
  }
}

@media (min-width: 768px) {
  .featureCards {
    gap: 8em;
  }
}
