.featureCards {
  display: flex;
}

@media (max-width: 768px) {
  .featureCards {
    flex-direction: column;
    align-items: center;
    gap: 5em;
  }
}

@media (min-width: 768px) {
  .featureCards {
    flex-direction: row;
    align-items: top;
    justify-content: center;
    gap: 12em;
  }
}
