.comment-section {
  position: relative;
  height: 300px;
  margin: 0 -2rem 0 -2rem;
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  display: flex;
}

section {
  display: flex;
  animation: swipe var(--speed) linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}
