.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 60px;
}

.developerHeader {
  width: 220px;
}


.responsive-logo {
  width: 350px;
  padding: 30px;
}

@media (min-width: 780px) {
  .responsive-logo {
    width: 400px;
    height: auto;
    padding: 30px;
  }
}