.text {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 24px;
}

.photos {
  display: flex;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .photos {
    gap: 30px
  }
}
 
@media (min-width: 768px) {
  .photos {
    gap: 110px
  }
}
