.aboutPhotoImg {
  object-fit: cover;
  object-position: 25% 25%; 
  border-radius: 12px;
  transition: ease all .4s;
}

@media (max-width: 768px) {
  .aboutPhotoImg {
      width: 200px; 
      height: 200px; 
  }
}

@media (min-width: 768px) {
  .aboutPhotoImg {
    width: 300px; 
    height: 220px; 
  }
}