.text {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 24px;
}

.photos {
  display: flex;
}

@media (max-width: 768px) {
  .photos {
    gap: 8vw
  }
}
 
@media (min-width: 768px) {
  .photos {
    gap: 20vw
  }
}
