.presentationBox {
  margin-top: 100px;
  text-align: left;
}

.imageBox {
  background-color: #f0f0f0;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media (max-width: 768px) {
  .presentationBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .right {
    display: none;
  }
}

@media (min-width: 768px) {
  .imageBox {
    width: 50%;
  }
  .presentationBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}
