.gray-table-font {
  color: gray;
  text-align: left;
}

.app-detail-title {
  text-align: left;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 20px;
  margin-left: 10px;
}

.text-right {
  text-align: right;
}
