#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Link and email styling */
.gray-link {
  color: gray;
  text-decoration: none;
}

.gray-link:hover {
  color: darkgrey;
  text-decoration: underline;
}
