.download-box {
  height: auto;
  padding: 60px 28px 60px 28px;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  border-radius: 10px;

  text-align: center;
}

@media (max-width: 1014px) {
  .download-box {
    width: calc(100vw - 4rem);
  }
}

@media (min-width: 1014px) {
  .download-box {
    width: calc(1014px - 4rem);
  }
}
