.card {
  text-align: left;
}

.featureCardImg {
  object-fit: cover;
}

@media (max-width: 768px) {
  .tracking-tight {
    font-size: 14px;
    margin-top: 12px;
  }
  .text-muted-foreground {
    font-size: 9px;
  }
  .featureCardImg {
    width: 96px;
    height: 96px;
    border-radius: 8px;
  }
}

@media (min-width: 768px) {
  .tracking-tight {
    font-size: 20px;
    margin-top: 20px;
  }
  .featureCardImg {
    width: 170px;
    height: 170px;
    border-radius: 12px;
  }
}
